.container {
    width: 100%;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.basketSelector {
    /* border: 2px solid black; */
}

.headerWrapper {
    display: flex;
    align-items: center;
}

.warning {
    margin: 0 auto;
}

.img {
    width: 35px;
    height: 35px;
}

.title {
    /* margin: 0; */
    font-family: "Montserrat";
    height: 35px;
}

.warningText {
    font-size: 24px;
    font-family: "Montserrat";
}

.warningLink {
    font-family: "Montserrat";
    color: #E4A619;
}

.button {
    background-color: transparent;
    font-family: "Montserrat";
    border: none;
    cursor: pointer;
}

.itemsWrapper {
    display: flex;
    align-items: center;
    /* gap: 40px; */
    margin-bottom: 20px;
    justify-content: space-between;
    /* flex: 1; */
}

.finalResult {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
}

.priceWrapp {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: #E4A619;
    font-family: "Montserrat";
}

.buyBtn {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #E4A619;
    font-size: 18px;
    font-family: "Montserrat";
    cursor: pointer;
}

.buyBtn:active {
    background-color: #a1a1a1;
}

.totalPrice {
    font-size: 16px;
    font-family: "Montserrat";
}

.firstWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.moreFuncWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.countWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.basketContent {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.priceWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapperWrap {
    max-width: 250px;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notFound {
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
}

.btn {
    background-color: transparent;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.btn:active {
    border: 2px solid #E4A619;
    color: #E4A619;
    box-shadow: 0px 0px 10px 0px #E4A718;
    /* transition: ease .4s; */
}

.ClearBtn {
    background-image: url('../../../public/images/delete-bin-7-line.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.ClearBtn:active {
    border: 2px solid #E4A619;
    color: #E4A619;
    box-shadow: 0px 0px 10px 0px #E4A718;
    /* transition: ease .4s; */
}

@media screen and (max-width: 810px) {
    .basketContent {
        padding: 0 15px;
    }

    .wrapperWrap {
        justify-content: flex-end;
        gap: 20px;
    }
}

@media screen and (max-width: 503px) {
    .itemsWrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .wrapperWrap {
        margin-top: 20px;
    }
}